import React from 'react'; 

import {{pascalCase name}}Layout from './styled';

const {{pascalCase name}}= () => { 
  const {{pascalCase name}}Temp = '{{pascalCase name}}';
  return (
      <{{pascalCase name}}Layout>
        { {{pascalCase name}}Temp }
      </{{pascalCase name}}Layout>
  );
 }; 

export default {{pascalCase name}};